
<header id="header" class="navbar bg bg-black">
  <a class="navbar-brand">薄荷-挑战-题库</a>
  <ul class="nav navbar-nav navbar-avatar pull-right">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="hidden-xs-only"></span>
            <span class="thumb-small avatar inline"><img src="/assets/admin/avatar.jpg" alt="Mika Sokeil" class="img-circle"></span>
            <b class="caret hidden-xs-only"></b>
          </a>
<!--           <ul class="dropdown-menu">
            <li class="divider"></li>
            <li><a class="" href="/admin/accounts/logout">退出</a>
            </li>
          </ul> -->
      </li>
  </ul>
  <ul class="nav navbar-nav hidden-xs">
    <li class="<%= active_topnav(question_controller_lists) %>">
      <%= link_to "题目管理", admin_questions_path %></li>
    <li class="<%= active_topnav(train_log_controller_lists) %>">
      <%= link_to "训练答题记录", admin_train_logs_path %></li>
    <li class="<%= active_topnav(train_score_controller_lists) %>">
      <%= link_to "训练答题成绩", admin_train_scores_path %></li>
  </ul>
</header>