<section class="main padder">
  <div class="row">
    <style>
    .table td,table th{
      text-align:center
      }
    </style>

    <section class="col-lg-12">
      <div class="panel m-t">
        <header class="panel-heading">答题记录列表</header>
        <div class="panel-body">
          <div class="row text-small">
            <%= search_form_for([:admin, @search], id: 'searchForm') do |f| %>
              <div class="col-sm-2">
                <%= f.text_field(:user_id_eq, placeholder: "用户ID", class: "form-control" ) %>
              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <div class="col-sm-2">
                <%= f.text_field(:question_id_eq, placeholder: "题目ID", class: "form-control" ) %>
              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <%= f.submit "查询", class: "btn btn-sm btn-white" %>
            <% end %>
          </div>
        </div>

        <table class="table table-striped m-b-none text-small">
          <thead>
            <tr>
              <th>编号</th>
              <th>用户ID</th>
              <th>题目ID</th>
              <th>正确数</th>
              <th>答题总数</th>
              <th>获得钻石数</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% if @records && @records.size > 0 %>
              <% @records.each do |record| %>
                <tr  id="record_<%= record.id %>">
                  <td><%= record.id %></td>
                  <td><%= record.user_id %></td>
                  <td>
                    <a href="/admin/questions/<%= record.question_id %>" title="查看详情"><%= record.question_id %></a>
                  </td>
                  <td><%= record.right_times %></td>
                  <td><%= record.total_times %></td>
                  <td><%= record.diamond %></td>
                  <td><%= chinese_datetime(record.created_at) %></td>
                  <td>
                    <%= link_to admin_train_log_path(record.id) do %>
                      <%= image_tag asset_path '../assets/admin/xiangqing.jpg' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td rowspan="5">无结果</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <% if @records && @records.size > 0 %>
        <%= paginate @records %>
      <% end %>
    </section>
  </div>
</section>
